  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= link_to "Back", restaurants_path %> </p>
  <h2> Reviews </h2>

  <!-- Review.where(restaurant_id: @restaurant.id) -->
  <p><% @restaurant.reviews.each do |r| %>
  <%= r.content %>
  <%= r.rating %>
  <% end %></p>
  <p><%= link_to "Post a Review", new_restaurant_review_path(@restaurant) %> </p>
